{{#each rows}}
<form method="POST" action="/products/update/{{this.id}}?_method=PUT">
<h1>Chinh sua san pham</h1>
    <div class="form-group">
        <label for="name">Name:</label>
        <input value="{{this.name}}" id="name" name="name" type="text">
    </div>
    <div class="form-group">
        <label for="image">Image:</label>
        <input value="{{this.image}}" id="image" name="image" type="text">
    </div>
    <div class="form-group">
        <label for="oldPrice">oldPrice:</label>
        <input value="{{this.oldPrice}}" id="oldPrice" name="oldPrice" type="text">
    </div>
    <div class="form-group">
        <label for="curPrice">curPrice:</label>
        <input value="{{this.curPrice}}" id="curPrice" name="curPrice" type="text">
    </div>
    <button type="submit">Add</button>
</form>
{{/each}}